*,

html {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.roundOne {
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: 10rem 5rem 5rem auto;
    grid-template-areas:
        ". space ."
        ". header ."
        ". heading ."
        ". main .";
}

.gridHeader {
    display: grid;
    grid-area: header;
    text-align: center;
    font-size: xx-large;
}

.gridHeading {
    display: grid;
    grid-area: heading;
    text-align: center;
    font-size: x-large;
    padding-top: 2rem;
}

.grid-container {
    display: grid;
    grid-area: main;

    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;

}

.grid-item {
    display: grid;
    border: 1px solid black;
    font-size: x-large;
    margin: .1875rem;
    background-color: lightgrey;
    padding-top: .5rem;
    padding-bottom: .5rem;

}

.grid-item:hover {
    background-color: slateblue;
    transition-duration: .3s;
    transition-delay: .05s;

}

div.grid-item.grid-item-rd2 {
    pointer-events: none;
}

.category {}

div.under {
    margin: 2rem;
    height: 15rem;
}

form {
    margin-left: 38rem;
    margin-right: 38rem;
    width: 20rem;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}

form {
    margin: auto;
}

input#guessButton {
    padding: 10px 24px;
    float: left;
}

input#passButton {
    padding: 10px 24px;
    float: right;
}

input[type=submit]:hover {
    background-color: slateblue;
    transition-duration: .3s;
    transition-delay: .05s;
}

button.nextRound {
    padding: 10px 24px;
    float: right;
    margin-right: 2rem;
}

button.prevRound {
    padding: 10px 24px;
    float: left;
    margin-right: 2rem;
}

button:hover {
    background-color: slategrey;
    transition-duration: .3s;
    transition-delay: .05s;
}

#scoreOne {
    float: left;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#scoreTwo {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
    margin: auto;
    width: 50%;
    ;
}

footer {
    border: 1px solid black;
    background-color: lightgrey;
    font-size: large;
    text-align: center;
    position: fixed;
    padding-left: 17%;
    padding-right: 17%;
    bottom: 0;
}

footer>a {
    text-decoration: none;
    text-align: center;
}